#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}
.photographer_page_Name {
  color: #d3573c;
  font-size: 64px;
}
.photographer_page_country {
  font-size: 24px;
  color: #901c1c;
  margin-top: -50px;
}
.photographer_page_tagline {
  font-size: 18px;
  color: #525252;
}
.photographer_page_PP {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
/* ////// MODAL CONTACT////// */
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.modal {
  position: fixed;
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  top: 30px;
  left: 28.5%;
  z-index: 55;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 10px;
}

/* .modal header img {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
} */

.modal header button  {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #db8876;
  border: 0;
  color: white;
}




.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  align-items: self-start;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 12px;
}

form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
}
#Message {
  padding-bottom: 70px;
  text-wrap: wrap;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  color: #312e2e;
  display: block;
  margin-top: -10px;
  margin-bottom: 0px;
  text-align: right;
  line-height: 0.5;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 3.5px solid #e54858;
}
/* ///// tier:///////// */
.titre-trier {
  position: absolute;
  left: 97px;
  font-weight: 700;
  font-size: 18px;
  margin-right: 25px;
  width: 5%;
}
.container-trier {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-left: 200px;
  width: 170px;
  z-index: 3;
  cursor: grab;
}
.fleche-trier {
  position: absolute;
  margin-left: 140px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 5px;
  cursor: grab;
}

.select-trier {
  position: relative; /* Assure que le pseudo-élément est positionné par rapport à cet élément */
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #901c1c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: -7px;
}

.select-trier::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Positionne le début de la barre au milieu de l'élément */
  transform: translateX(
    -50%
  ); /* Déplace la barre de moitié de sa propre largeur vers la gauche */
  width: 150px; /* Largeur de la barre */
  height: 1px; /* Hauteur de la barre */
  background-color: white; /* Couleur de la barre */
}
.select-trier.isactive::before {
  display: none; /* Supprime le pseudo-élément ::before lorsque la classe .isactive est présente */
}
.off-trier {
  display: none;
  visibility: hidden;
}

#photo {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 95px;
  row-gap: 35px;
  justify-content: center;
  padding-bottom: 75px;
}
.container-image-video {
  position: relative;
  height: 390px;
  width: calc(27.33% - 20px);
  z-index: 0;
  margin-top: 50px;
}

.photographer_page_photo_video {
  height: 350px;
  width: 100%;
  object-fit: cover;
  cursor: grab;
}

.title-img {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  width: 70%;
}
.likes {
  position: absolute;
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
  right: 25px;
  top: 90%;
}
.coeur {
  position: absolute;
  font-size: 21px;
  color: #901c1c;
  right: 0;
  top: 97.5%;
  cursor: grab;
}

/********************* code de lightbox  *****************************/
.lightBox-container {
  position: fixed;
  top: -5%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: white;
  cursor: auto;
}

.lightBox-container .photographer_page_photo_video {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 70%;
  height: 88%;
}
.lightBox-container .coeur {
  display: none;
}
.lightBox-container .likes {
  display: none;
}
.lightBox-container .title-img {
  position: absolute;
  bottom: 0px;
  left: 15%;
}

.lightBox-container .crossClose {
  position: absolute;
  color: #901c1c;
  font-size: 50px;
  right: 12.5%;
  top: 5%;
  cursor: grab;
}

.lightBox-container .flecheDroite {
  font-size: 60px;
  color: #901c1c;
  position: absolute;
  top: 47%;
  right: 12%;
  cursor: grab;
}
.lightBox-container .flecheGauche {
  font-size: 60px;
  color: #901c1c;
  position: absolute;
  top: 47%;
  left: 12%;
  cursor: grab;
}
/* ///////////////Like en bas de la page/////////////// */
.container-like-prix {
  position: fixed;
  bottom: -5px;
  right: 36px;
  background-color: #db8876;
  width: 376px;
  height: 78px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.container-like {
  display: flex;
  justify-items: center;
  gap: 5px;
}
.p-like {
  font-size: 24px;
  font-weight: 500;
}
.i-like {
  position: relative;
  top: 37%;
  font-size: 21px;
}
.p-prix {
  font-size: 24px;
  font-weight: 500;
}
